* {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  min-width: 280px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: sans-serif;
  overflow: hidden;
  background: #1a1e23;
  overflow: scroll;
}

button:hover {
  cursor: pointer;
  background-color: #73e831;
}

ul {
  list-style-type: none;
  margin-top: 20px;
  max-width: 100%;
}

h1 {
  color: #fff;
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
}

.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

button {
  background-color: #441aaf;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 7px;
  font-size: 1.2rem;
}

/* each li with class="item" */
.item {
  background-color: #fff;
  padding: 10px;
  font-size: 1.1rem;
}

.item:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.item:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
/* item style end */

.checkbox {
  margin-right: 10px;
}

.delete-button {
  float: right;
  background-color: #dc143c;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

.pair-view-button {
  float: right;
  background-color: #d1be0f;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}

.set-use-button {
  float: right;
  background-color: #0fd120;
  border: none;
  outline: none;
  border-radius: 7px;
  padding: 2px 5px;
  margin-left: 10px;
  font-size: 1.1rem;
  font-weight: 550;
}
